.consultation {
  min-height: 680px;
  padding: 100px 0 92px 0;
  background: url(../img/bg_3.jpg) center (center/cover) no-repeat;

  &__header {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
  }
  &__desc {
    margin-top: 80px;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff;
  }
}
